<template>
  <div>
    <button v-show="display" @click="displayChart()">Show Tree</button>
    <div v-show="showTree" class="chart" ref="chartdiv">
    </div>
  </div>
</template>


<script>
import * as am5 from "@amcharts/amcharts5"
import * as am5hierarchy from "@amcharts/amcharts5/hierarchy"
import am5themes_Animated from "@amcharts/amcharts5/themes/Animated"

export default {
  name: "AmChart",
  props: {
    display: Boolean
  },
  data: function () {
    return {
      showTree: false
    }
  },
  methods: {
    displayChart: function () {

      this.showTree = true;

      const chartData = this.$store.state.journeys;

      let root = am5.Root.new(this.$refs.chartdiv);
      root.setThemes([am5themes_Animated.new(root)]);

      let series = root.container.children.push(
        am5hierarchy.Tree.new(root, {
          paddingTop: 50,
          paddingBottom: 50,
          downDepth: 1,
          initialDepth: 3,
          valueField: "title",
          categoryField: "clone",
          idField: "id",
          childDataField: "children",
          linkWithField: "link"
        })
      );

      series.data.setAll(chartData)

      // series.set("selectedDataItem", series.dataItems[0]);

      series.labels.template.setAll({
        fontSize: 20,
        fill: am5.color(0x550000),
        text: "{id}"
      });

      series.circles.template.setAll({
        radius: 25
      })

      series.nodes.template.set(
        "tooltipText",
        "[bold]{title}[/]\nid: {id}\nclone: {clone}\nkey values:\n    client: {keyValues.client} \n    joint: {keyValues.joint} \n    partial: {keyValues.partial}"
      );

      // NB: Apparently, 'adapters' are the way to provide conditional tooltip content,
      // but this has no effect but documentation is limited
      series.nodes.template.adapters.add("tooltipText", function(text, target) {
        return `ADAPTED ${target} ${text}`;
      });
    }
  },
  beforeUnmount() {
    if (this.root) {
      this.root.dispose();
    }
  }
}

</script>

<style scoped>
.chart {
  width: 100%;
  height: 600px;
}
button {
  margin-top: 5px;
}
</style>