<template>
    <h1>Journey Tree</h1>
    <button @click="fetchJourneys()">Fetch Journeys</button>
    <AmChartTree :display="showData"/>
    <pre v-show="showData">{{ $store.state.journeys }}</pre>
</template>

<script>
import AmChartTree from '../components/AmChartTree'

export default {
  name: 'JourneysView',
  components: {
    AmChartTree
  },
  data: function () {
    return {
      showData: false
    }
  },
  methods: {
    fetchJourneys: function () {
      this.$store.dispatch('fetchJourneys')
        .then(() => {
          console.log(this.$store.state.journeys);
          this.showData = true
        })
    }
  }
}
</script>

<style scoped>
h1 {
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
}
pre {
  font-size: 0.7rem;
}
</style>
